
@media (max-width: 600px) {
    *{
    }

    html, body {
        height: 100%;
        overflow-x: none;
    }
    
    html {
        display: flex;
        width: 100%;
        background-color: black;
        margin: 0px;
    }
    
    body {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow-x: none;
        overflow-y: auto;
    }
    
    div {
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: space-between;
        align-items: left;
        color: white;
        background-color: black;
        padding: 0px;
    }
    
    p{
        color: white;
        font-size: 25px;
        line-break: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: none;
        overflow-y: auto;
    }
    
    h1{
        color: white;
        font-weight: 800;
        display: inline-flex;
    }
    
    iframe {
        display: flex;
        flex-flow: column nowrap;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        overflow-x: none;
        overflow-y: auto;;
        border: none;
        padding: 0%;
        margin: 0px;
        position: absolute;
        top: 14%;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .header-container {
        display: flex;
        color: #fff;
        background-color: #5995DA;  /* Blue */
        padding: 0px 0;
        margin-right: 0px;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 7%;
    }
    
    .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-size: 40px;
    }
    
    .name {
        display: flex;
        width: 75%;
        padding: 5%;
        padding-top: 2%;
        flex-flow: row nowrap;
    }
    
    .links {
        display: flex;
        width: 25%;
        font-size: 20px;
        justify-content: right;
        align-items: right;
        flex-direction: row nowrap;
        padding: 5%;
    }
    
    .login {
        margin-left: 20px;
    }
    
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0px;
        overflow-x: none;
    }
    
    .content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        overflow-x: none;
    }


    .nav-pad {
        display: flex;
        flex-flow: row nowrap;
        height: 7%;
        background-color: #000000;
        align-items: center;
        justify-content: right;
    }

    .nav-img {
        display: flex;
        flex-direction: row;
        width: 10%;
        height: auto;
    }
    
    .nav-container {
        display: none;
        flex-flow: column nowrap;
        height: auto;
        padding: 0px;
        margin: 0px;
        max-height: 100%;
        justify-content: space-between;
        align-items: start;
        overflow-x: none;
        overflow-y: auto;
        border: red solid 2px;
    }
    
    .nav-btn {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: left;
        font-size:30px;
        height: calc(30px * 1.25);
        width: calc(100% - 10px);
        text-align: center;
        background-color: #185a9d;
        text-decoration: none;
        color: #cfcfcf;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        font-weight: 750;
        border: green solid 2px;
    }
    
    .icon-btn {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: left;
        margin: 0px;
        margin-top: 0px;
        padding: 2px;
        height: 75%;
        border: yellow solid 2px;
    }
    
    .homepage{
        background-color: black;
    }
    
    @keyframes easeBG {
      0% { background-position:0 0 }
      2.5% {background-position:4% 0}
      5% { background-position:8% 0 }
      13% { background-position:15% 0 }
      19% { background-position:23% 0 }
      25% { background-position:30% 0 }
      31% { background-position:38% 0 }
      38% { background-position:45% 0 }
      44% { background-position:53% 0 }
      50% { background-position:60% 0 }
      56% { background-position:68% 0 }
      63% { background-position:75% 0 }
      69% { background-position:83% 0 }
      75% { background-position:90% 0 }
      81% { background-position:98% 0 }
      88% { background-position:105% 0 }
      94% { background-position:113% 0 }
      100% { background-position:120% 0 }
    }   
    
    .journal-btn {
        color: white;
        text-decoration: none;
        background-color: #38506e;
        font-size: 30px;
        padding: 10px;
        margin: 5px;
        height: 60px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        border-radius: 20px;
    }
    
    .subpage{
        background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
        animation: easeBG 100s ease infinite;
        background-size: 600% 100%;
        display: flex;
        flex-wrap: nowrap;
        height: 91%;
        padding: 0px;
        flex-direction: column;
        overflow-x: none;
        overflow-y: auto;
    }
    
    .subpage-row{
        background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
        animation: easeBG 100s ease infinite;
        background-size: 600% 100%;
        display: flex;
        flex-wrap: nowrap;
        height: 82%;
        padding: 10px;
        overflow-x: none;
        overflow-y: auto;
        flex-direction: column;
    }
    
    .journal-hdr {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        writing-mode: horizontal-tb;
        width: 200px;
        min-width: 200px;
        padding: 20px;
        padding-left: 25px;
        text-align: center;
        background-color: #38506e;
        border-radius: 20px;
        height: 40px;
    }
    
    .formatted-p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        width: 75%;
        padding: 2%;
        margin: 1%;
        margin-left: 5%;
        overflow-x: none;
        overflow-y: auto;
        white-space: normal;
        overflow-wrap: anywhere;
    }
    
    .footer-container {
        display: none;
        flex-direction: column nowrap;
        width: 100%;
        height: 20px;
        font-size: 30px;
        margin-bottom: 0px;
    }
    
    .footer {
        display: none;
        flex-direction: row;
        height: 1%;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    
    #profile-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 50%;
        max-width: 100%;
        border-radius: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
    }
    
    #moriah-pic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35px;
        border-radius: 10px;
    }
    
    .a-link {
        color: white;
        background-color: #5995DA;
        display: flex;
        text-decoration: none;
        text-align: center;
        flex-direction: row;
        font-size: 30px;
        width: 175px;
        height: 50px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        min-width: 150px;
        border-radius: 20px;
        font-weight: 900;
        justify-content: space-between;
        align-items: center;   
    }
    
    .filter-white {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(233deg) brightness(105%) contrast(102%);
    }