/* styles.css */
* {
    border: red solid 2px;
}

div {
    color: white;
    background-color: black;
}

p{
    color: white;
    font-size: 20px;
    line-break: auto;
    display: inline-block;
    overflow-wrap: normal;
    margin: 0 auto;
}

h1{
    color: white;
    font-weight: 800;
    display: inline-flex;
}

.header-container {
    display: flex;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    flex-direction: column;
  }

.header {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #fff;  /* For debugging */
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
}

.links {
    /* border: 1px solid #fff;  For debugging */
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: stretch;
    align-items: right;
    flex: initial;
    flex-direction: row;
}

.btn-container {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    justify-content: flex-end;
    align-items:end;
    min-width: 50px;
}

.homelist-btn {
    font-size: 20px;
    width: 80px;
    margin: 20px;
    padding: 20px;
    background-color: #185a9d;
    text-decoration: none;
    color: #cfcfcf;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
}

.homepage{
    background-image: url(./images/olive.jpg);
    background-size: auto;
}

.subpage{
    background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
    background-size: 600% 100%;
    animation: easeBG 100s ease infinite;
    overflow: hidden;
}

@keyframes easeBG {
  0% { background-position:0 0 }
  2.5% {background-position:4% 0}
  5% { background-position:8% 0 }
  13% { background-position:15% 0 }
  19% { background-position:23% 0 }
  25% { background-position:30% 0 }
  31% { background-position:38% 0 }
  38% { background-position:45% 0 }
  44% { background-position:53% 0 }
  50% { background-position:60% 0 }
  56% { background-position:68% 0 }
  63% { background-position:75% 0 }
  69% { background-position:83% 0 }
  75% { background-position:90% 0 }
  81% { background-position:98% 0 }
  88% { background-position:105% 0 }
  94% { background-position:113% 0 }
  100% { background-position:120% 0 }
}   

.journal-btn {
    color: white;
    text-decoration: none;
    background-color: navy;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    display: block;
    animation: journal-btn-anim 90s ease infinite;
}

@keyframes journal-btn-anim {
    10% {background-color: navy;}
    50% {background-color: cornflowerblue;}
    90% {background-color: navy;}
  }

.home-btn-float {
    color: black;
    font-size: 25px;
    background-color: wheat;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 1%;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}