/* styles.css */
* {
}

div {
    color: white;
    background-color: black;
}

p{
    color: white;
    font-size: 20px;
    line-break: auto;
    display: inline-block;
    overflow-wrap: normal;
    margin: 0 auto;
}

h1{
    color: white;
    font-weight: 800;
    display: inline-flex;
}

.homelist-btn {
    font-size: 50px;
    width: 75%;
    margin: 20px;
    padding: 20px;
    background-color: #185a9d;
    text-decoration: none;
    color: #cfcfcf;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.homepage{
    background-image: url(./images/olive.jpg);
    background-size: auto;
}

.normalpage{
    background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
    background-size: 600% 100%;
    animation: easeBG 100s ease infinite;
    overflow: hidden;
}

@keyframes easeBG {
  0% { background-position:0 0 }
  2.5% {background-position:4% 0}
  5% { background-position:8% 0 }
  13% { background-position:15% 0 }
  19% { background-position:23% 0 }
  25% { background-position:30% 0 }
  31% { background-position:38% 0 }
  38% { background-position:45% 0 }
  44% { background-position:53% 0 }
  50% { background-position:60% 0 }
  56% { background-position:68% 0 }
  63% { background-position:75% 0 }
  69% { background-position:83% 0 }
  75% { background-position:90% 0 }
  81% { background-position:98% 0 }
  88% { background-position:105% 0 }
  94% { background-position:113% 0 }
  100% { background-position:120% 0 }
}   

.buttonr-float {
    background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
    background-size: 600% 100%;
    animation: easeBG 90s ease infinite;
    overflow: hidden;
    font-size: 35px;
    display: block;
    padding: 10px;
    margin: 5px;
    color: wheat;
}

.buttona {
    color: white;
    text-decoration: none;
    background-color: navy;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    display: block;
    animation: buttonA-anim 90s ease infinite;
}

@keyframes buttonA-anim {
    10% {background-color: navy;}
    50% {background-color: cornflowerblue;}
    90% {background-color: navy;}
  }

.buttonr {
    color: black;
    font-size: 25px;
    background-color: wheat;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 1%;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}