/* styles.css */
* {
    /*border: red solid 1px;*/
}

html {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
    align-items: left;
    color: white;
    background-color: black;
    padding: 0px;
}

p{
    color: white;
    font-size: 20px;
    line-break: auto;
    display: inline-block;
    margin: 0 auto;
}

h1{
    color: white;
    font-weight: 800;
    display: inline-flex;
}

iframe {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 0px 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*border: 1px solid #fff;  /* For debugging */
    width: 100%;
    padding: 25px;
    margin-bottom: 0px;
    font-size: 25px;
    /*margin-right: 30px;*/
}

.name {
    display: flex;
    width: 75%;
    flex-direction: row;
}

.links {
    /* border: 1px solid #fff;  For debugging */
    display: flex;
    width: 20%;
    justify-content: end;
    font-size: 15px;
    align-items: right;
    /*margin-right: 50px;*/
    flex-direction: row;
}

.login {
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 99%;
    height: 99%;
    overscroll-behavior-y:contain;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: auto;
    height: 65px;
    text-align: center;
    justify-content: space-around;
}

.homelist-btn {
    display: flex;
    font-size: auto;
    width: 100px;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    height: 25px;
    background-color: #185a9d;
    text-decoration: none;
    color: #cfcfcf;
    margin-bottom: 10px;
    justify-content:flex-end;
    align-self: center;
    border-radius: 10px;
    font-weight: 750;
    flex-wrap: wrap;
}

.icon-btn {
    display: flex;
    width: 25px;
    margin: 10px;
    margin-top: 0px;
    padding: 1px;
    height: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.homepage{
    background-color: black;
}

.subpage{
    background: linear-gradient(to right, #1b216b, #185a9d, #1b216b, #185a9d, #1b216b);
    background-size: 600% 100%;
    animation: easeBG 100s ease infinite;
    overflow: hidden;
}

@keyframes easeBG {
  0% { background-position:0 0 }
  2.5% {background-position:4% 0}
  5% { background-position:8% 0 }
  13% { background-position:15% 0 }
  19% { background-position:23% 0 }
  25% { background-position:30% 0 }
  31% { background-position:38% 0 }
  38% { background-position:45% 0 }
  44% { background-position:53% 0 }
  50% { background-position:60% 0 }
  56% { background-position:68% 0 }
  63% { background-position:75% 0 }
  69% { background-position:83% 0 }
  75% { background-position:90% 0 }
  81% { background-position:98% 0 }
  88% { background-position:105% 0 }
  94% { background-position:113% 0 }
  100% { background-position:120% 0 }
}   

.journal-btn {
    color: white;
    text-decoration: none;
    background-color: #496800;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    display: block;
    animation: journal-btn-anim 10s ease infinite;
}

@keyframes journal-btn-anim {
    10% {background-color: #496800;}
    50% {background-color: #496890;}
    90% {background-color: #496800;}
  }